
@{
    ViewData["Title"] = "Oturum";
}

<h1>Oturum</h1>
<h3>Viewbag ile  bakış</h3>
<p>

    @ViewBag.prsAdi
    @ViewBag.prsYasi 
    @ViewBag.prsMaili
    @ViewBag.prsRol 
</p>

<h3>Context.Session ile  bakış</h3>
<p>
    @Context.Session.GetString("ad")
    @if (Context.Session.GetString("rol")=="user")
    {
        <b>Bu sayfayı sadece kullanıcılar görebilir.</b>
    }
</p>
<div class="card">
    <div class="card-header">
        <h3>Oturum bilgileri</h3>
    </div>
    <div class="card-body">
        @ViewBag.prsAdi
        @ViewBag.prsYasi
        @ViewBag.prsMaili
        @ViewBag.prsRol
    </div>
</div>